.place__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  transition: all .5s;
  cursor: pointer;
}

.place__like-button:hover {
  opacity: 0.5;
}
