.root {
  background-color: #000000;
  margin: 0 90px 60px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header {
  margin-top: 45px;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}
.header__link {
  text-decoration: none;
}
.header__logo {
  width: 142px;
}
.content {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 66px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 width: 100%;
 margin-bottom: 50px;

}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.profile__info {
  max-width: 100%;
  display: grid;
  grid-template-columns: 150px 300px 42px;
  grid-template-rows: 3fr 2fr;
}

.profile__name {
  margin: 0 0 4px;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  align-self: end;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}
.profile__self-description {
  margin: 3px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  align-self: start;
  color: #FFFFFF;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit-button {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 24px;
  height: 24px;
  align-self: end;
  margin-bottom: 13px;
  margin-left: 12px;
  border: 1px solid #FFFFFF;
  background-color: black;
  background-image: url(../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;

}
.add-place {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  background-image: url(../images/add-button.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.add-place:hover {
  opacity: 0.6;
}

.places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 361px);
  grid-auto-rows: 361px;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}
.place {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.place__image {
  object-fit: cover;
  aspect-ratio: 1/1;

}
.place__title {
  margin: 0;
  padding: 0;
  max-width: 88%;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  max-width: 880px;
  width: 100%;
}
.copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.place__like {
  width: 22px;
  height: 19px;
  background-image: url(../images/heart.svg);
  border: none;
  background-color: transparent;
}

.place__like:hover {
  opacity: 0.6;
}

.place__like-active {
  background-image: url(../images/heart-active.svg);
}


.place__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 26px;
}


.popup__container {
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 36px;
}
.edit-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.edit-form__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 18px;
}
.edit-form__user-name {
  margin: 0;
  padding: 0;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0,0.2);
}
.edit-form__user-description {
  margin: 0;
  padding: 0;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0,0.2);
}
.edit-form__submit {
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  margin-top: 18px;
}

.edit-form__submit:hover {
  opacity: 0.8;
}
.edit-form__button-close {
  background-image: url(../images/close-icon.svg);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -78px;
  right: -78px;
}
.edit-form__button-close:hover {
  opacity: 0.6;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 195px;
}

.popup_opened {
  display: flex;
}

@media screen and (max-width: 1150px) {
  .place__image {
    aspect-ratio: auto;
    height: 78%;
  }

}

@media screen and (max-width: 940px) {
  .root {
    margin:  0 60px 45px;
  }

  .header {
    margin:  40px;
  }
  .header__logo {
    width: 15vw;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-place {
    width: 100%;
    margin-top: 36px;
  }

  .places {
    grid-template-columns: repeat(auto-fit, minmax(200px, 48%));
  }

}

@media screen and (max-width: 730px) {
  .root {
    margin: 0 35px 45px;
  }
  .header {
    margin-top: 35px;
  }

  .content {
    margin-bottom: 48px;
  }

  .header__logo {
    width: 104px;
  }
  .profile {
    margin-bottom: 34px;
  }

  .profile__info {
    width: max-content;
    min-width: none;
    grid-template-columns: calc(100% - 42px) 42px;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
    align-self: center;
  }

  .profile__avatar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 26px;
  }

  .profile__name {
    font-size: 5.7vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .profile__self-description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .profile__edit-button {
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-bottom: 1.5vw;
      justify-self: end;
}
}

@media screen and (max-width:540px) {
  .places {
    grid-template-columns: 1fr;

  }

  .profile__name {
    font-size: 27px;
    max-width: 100%;
  }

  .profile__self-description {
    font-size: 14px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
}

.edit-form__title {
  font-size: 18px;
  line-height: 1.22;
}

.edit-form__submit {
  font-size: 14px;
  line-height: 1.2;
}

.edit-form__button-close {
  background-size: 20px 20px;
  width: 35px;
  height: 35px;
  top: -76px;
  right: -46px;
}
.popup__container {
  width: calc(100% - 70px);
}
}


@media screen and (max-width: 430px) {

  .header {
    margin-left: 11px;
    min-height: 56px;
    margin-top: 28px;
  }

  .add-place {
    background-size: 5vw;
  }

  .profile__name {
    grid-column-end: 3;
    max-width: 70%;
  }

  .profile__info {
    width: 100%;
  }


  .profile__edit-button {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    margin-left: 5px;
  }

  .root {
    margin:  0 19px 36px;
  }

  .copyright {
    font-size: 14px;
    line-height: 1.2;
  }

  .popup__container {
    padding: 25px 22px;
    height: 322px;
    width: calc(100% - 38px);
  }

  .edit-form__submit {
    height: 46px;
    margin-top: 10px;
  }

  .edit-form__title {
    margin-bottom: 45px;
  }

  .edit-form__button-close {
    right: -30px;
    top: -68px;
  }
}

