.add-place {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  background-image: url(../../images/add-button.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.add-place:hover {
  opacity: 0.6;
}

@media screen and (max-width: 940px) {
  .add-place {
    width: 100%;
    margin-top: 36px;
  }
}

@media screen and (max-width: 430px) {
  .add-place {
    background-size: 5vw;
  }
}
